button {
    border-radius: 8px;
    border: 1.5px solid #303030;
    outline: none;
    background-color: #252525;
    color: #DDD;
    cursor: pointer;
    transition-duration: 125ms;
    font-family: "JetBrains Mono";
    font-size: 0.85em;
    box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.25);
    height: 3.5em;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

button:hover {
    background-color: #292929;
    border-color: #353535;
    color: #EEE;
}

button:active {
    background-color: #303030;
    border-color: #404040;
    color: #FFF;
}

button:disabled {
    background-color: #191919;
}
