@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    src:    url(../fonts/woff2/JetBrainsMono-Regular.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-Regular.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-Regular.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: italic;
    src:    url(../fonts/woff2/JetBrainsMono-Italic.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-Italic.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-Italic.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: normal;
    src:    url(../fonts/woff2/JetBrainsMono-Medium.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-Medium.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-Medium.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: italic;
    src:    url(../fonts/woff2/JetBrainsMono-Medium-Italic.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-Medium-Italic.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-Medium-Italic.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: normal;
    src:    url(../fonts/woff2/JetBrainsMono-Bold.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-Bold.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-Bold.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: italic;
    src:    url(../fonts/woff2/JetBrainsMono-Bold-Italic.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-Bold-Italic.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-Bold-Italic.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 900;
    font-style: normal;
    src:    url(../fonts/woff2/JetBrainsMono-ExtraBold.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-ExtraBold.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-ExtraBold.eot) format("embedded-opentype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 900;
    font-style: italic;
    src:    url(../fonts/woff2/JetBrainsMono-ExtraBold-Italic.woff2) format("woff2"),
            url(../fonts/woff/JetBrainsMono-ExtraBold-Italic.woff) format("woff"),
            url(../fonts/eot/JetBrainsMono-ExtraBold-Italic.eot) format("embedded-opentype");
}
