#info {
    text-align: justify;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#info p {
    color: #AAA;
}

.controls {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.5em 3em;
}

.controls p {
    font-size: 0.9em;
    text-align: left;
}

.controls p.key {
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    font-size: 0.75em !important;
    background-color: #222222;
    text-align: center;
    width: 100%;
}

.controls h2, .controls h3 {
    grid-column: span 2;
}

.difficulty {
    display: flex;
    flex-direction: column;
    gap: inherit;
    margin: 1.25em 0;
}

.difficulty p{
    text-align: center !important;
}

.difficultyButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.difficultyButtons .active {
    border-color: #505050;
}

@media only screen and (max-width: 600px) {
    .difficultyButtons {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 992px) {
    #info, footer {
        max-width: 34em;
    }
}