@import url(fonts.css);
@import url(buttons.css);
@import url(info.css);
@import url(game.css);
@import url(footer.css);

body {
    background-color: #202020;
    color: #CDCDCD;
    font-family: "JetBrains Mono";
    margin: 0;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*::selection {
    color: #202020;
    background-color: #02DFB7;
}

p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: text;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    color: #02DFB7;
    font-size: 3em;
    font-weight: 900;
}

h2 {
    color: #02DFB7;
    opacity: 0.8;
    font-weight: 700;
}

h3 {
    color: #CCC;
    font-weight: 500;
    margin: 0.5em 0 0 0;
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 80vw;
    padding: 1em 0 0 0;
}
